# gitattributes - defining attributes per path.
# http://git-scm.com/docs/gitattributes

# Automatically normalize line endings for all text-based files
# http://git-scm.com/docs/gitattributes#_end_of_line_conversion
* text=auto

# For the following file types, normalize line endings to LF on checkin and
# prevent conversion to CRLF when they are checked out (this is required in
# order to prevent newline related issues)
.*         text eol=lf
*.go       text eol=lf
*.md       text eol=lf
*.yml      text eol=lf
*.yaml     text eol=lf
CODEOWNERS text eol=lf
Dockerfile text eol=lf
LICENSE    text eol=lf

# Exclude folders from Github's language statistics
# https://github.com/github/linguist#documentation
docs/* linguist-documentation

# Exclude third party dependencies from project language statistics.
# https://github.com/github/linguist#vendored-code
vendor/* linguist-vendored
